/* global style */
*{
    background-color: #7A6855;
}
/* navigation style*/

/* logo style */
.website-logo{
    width: 150px;
}


/* hero style */

/* main content style */
section .about-me .profile-image .personal-profile{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "aboutme profileimage ";
}
.about-me{
    grid-area: aboutme;
}
.profile-image{
    width: 33.3%;
    grid-area: profileimage;
}

.project-1 img{
    
    width: 50%;
    margin: 5%;
    
}

/* footer style  */